# Java / Maven project
target/
.git/
*.md
mvnw
mvnw.cmd
.mvn/
gradlew
gradlew.bat
gradle/wrapper/
.idea/
.vscode/
*.iml
.DS_Store
*.log
*.tmp
*.swp
*.bak
.classpath
.project
.settings/
migration-bundle/
WebContent/images/
docs/
scripts/
kubernetes/
docker-compose.yml
.gitignore
CODEOWNERS
LICENSE
CONTRIBUTING.md
README.md
build.gradle.hideme
